/* Développement du site en mobile first */

/*Mise en forme du template en mode mobile first avec l'utilistion du grid*/

/*Class-CSS pour faire apparaitre le menu lorsque l'on clique sur le bouton menu*/
body{
    margin: 0%;
}
.container__flex--displayMenu{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
    grid-template-rows: 4em 12em 1fr auto;  
    grid-template-columns: auto;
    margin: 0;
    box-sizing: border-box;
}

/*Class-CSS pour faire disparaitre le menu lorsque l'on clique sur le bouton menu*/
.container__flex--displayMenuNone{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: 4em 1fr 7em;  
    grid-template-columns: auto;
    margin: 0;
    box-sizing: border-box;
}

/*! Mise en forme du header et de ses composants*/
header{
    display: flex;
    flex-direction: row;
    grid-area: header;
    width: 98%;
    height: 4em;
    border-radius: 8px;
    box-sizing: border-box;
    margin: auto;
}
.header__title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    background-color: #2A8574 ;
    border-radius: 8px 0 0 8px;
    box-sizing: border-box;
}

.header__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
    background-color: #2A8574 ;
    border-radius: 0 8px 8px 0;
    box-sizing: border-box;
    
}

/*!Création du bouton pour le menu fermé*/
/*Mise en forme du bouton*/
.header__btn--menu-close{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 3px solid #FFC300 ;
    border-radius: 8px;
}

.header__btn--menu-close1{
    display: block;
    width: 80%;
    height: 5px;
    background-color: #FFC300 ;
    border-radius: 8px;
}

.header__btn--menu-close2{
    display: block;
    width: 80%;
    height: 5px;
    background-color: #FFC300 ;
    border-radius: 8px;
}

.header__btn--menu-close3{
    display: block;
    width: 80%;
    height: 5px;
    background-color: #FFC300 ;
    border-radius: 8px;
}

/*Suppresion de l'affichage de la section nav*/
.nav__close{
    display: none;
}


/*!Création du bouton pour le menu ouvert*/
/*Mise en forme du bouton*/
.header__btn--menu-open{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 3px solid #FFC300 ;
    border-radius: 8px;
    padding: auto;
    position: absolute;
}


.header__btn--menu-open1{
    display: block;
    width: 120%;
    height: 5px;
    background-color: #FFC300 ;
    border-radius: 8px;
    position: relative;
    top:2.5px;
    transform: rotate(45deg);
}

.header__btn--menu-open2{
    display: none;
}

.header__btn--menu-open3{
    display: block;
    width: 120%;
    height: 5px;
    background-color: #FFC300 ;
    border-radius: 8px;
    position: relative;
    bottom: 2.5px;
    transform: rotate(-45deg);
}

/*Affichage de la section nav*/
.nav__open{
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: nav;
    height: auto;
    background-color:#FFC300 ;
    margin: 0.1em auto;
    border-radius: 5px;
    box-sizing: border-box;
}

nav ul{
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    font-family: 'Metrophobic';
    font-weight: bold;
    margin: 0.25em;
}


/*! Mise en forme du main*/
main{
    grid-area: main;
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
}

.main__elt-none{
    display: none;
}

.main__elt{
    display: block;
    width: 95%;
    height: auto;
    margin: 0.5em;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px #2A8574   ;
    box-sizing: border-box;
}

.main__flex{
    display: flex;
    flex-direction: row;
    margin: 1em 0;
}

.main__flex--texte{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0.5em;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
}

.main__flex--img{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
}

.main__flex--button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}

.main__flex--button-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #2A8574;
    border-radius: 90px;      
}

.main__ul{
    font-family: 'Metrophobic';
    list-style-type: circle;
}

.main__single--button{
    display: block;
    width: 120px;
    height: 120px;
}

.main__single{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 120px;
    height: 120px;
}

.color-1 {
    background-color: #462a85;
}

.color-2 {
    background-color: #69852a;
}

.color-3 {
    background-color: #852A3C;
}

.color-4{
    background-color: #2A8574;
}

.color-5 {
    background-color: #FFC300;
}

.color-6{
    background-color: #889A65;
}



/*Mise en forme des images */

.photo{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 90px;
}

.icone{
    width: 40px;
    height: 40px; 
}


/*Mise en forme des titres, paragraphe, etc*/
h1{
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.5em;
    text-align: center;
}

h2{ 
    font-family: 'Metrophobic';
    font-size: 1em;
    text-align: center;
}

h3{ 
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.2em;
    text-align: center;
}

p{  
    font-size: 0.7em;
    font-weight: 500;
    text-align: justify;
    margin: 0.5em;
}

.bold{
    font-family: 'Metrophobic';
    font-size: 1em;
    text-align: justify;
    margin: 0.5em;
}


/*Effets sur le texte*/

#elt1 .typewriter h3 {
    width: 40%;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    animation: 
      typing 2s steps(11),
      blink-caret .75s step-end infinite;
  }

#elt2 .typewriter h3 {
    width: 60%;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    animation: 
      typing 2s steps(11),
      blink-caret .75s step-end infinite;
  }

  #elt3 .typewriter h3 {
    width: 50%;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    animation: 
      typing 2s steps(11),
      blink-caret .75s step-end infinite;
  }

  #elt4 .typewriter h3 {
    width: 60%;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    animation: 
      typing 2s steps(11),
      blink-caret .75s step-end infinite;
  }

  #elt5 .typewriter h3 {
    width: 60%;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    animation: 
      typing 2s steps(11),
      blink-caret .75s step-end infinite;
  }


  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to {width: 40% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }


/*Personnalisation du footer*/
footer{
    grid-area : footer;
    width: 98%;
    height: 7em;
    background-color: #2A8574 ;
    border-radius: 8px;
    margin: auto;
}

.footer__flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0;
}

.footer__flex--button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
}

.footer__flex--button-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #2A8574;
    border-radius: 90px;      
}

@media screen and (min-width:426px) {

    body{
        margin: 0%;
    }
    .container__flex--displayMenu{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-areas: 
        "header header"
        "nav main"
        "footer footer";
        grid-template-rows: 4em auto auto;  
        grid-column: 30% 70%;
        margin: 0;
        box-sizing: border-box;
    }
    
    /*Class-CSS pour faire disparaitre le menu lorsque l'on clique sur le bouton menu*/
    .container__flex--displayMenuNone{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
        grid-template-rows: 4em 1fr auto;  
        grid-column: auto;
        margin: 0;
        box-sizing: border-box;
    }

    .nav__open{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: nav;
        height: auto;
        background-color:#FFC300 ;
        margin: 0.1em 0.5em ;
        border-radius: 5px;
        box-sizing: border-box;
    }
    
    main{
        grid-area: main;
        width: 70%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        margin: auto;
    }

    .photo{
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 90px;
    }

    p{  
        font-size: 1em;
        font-weight: 500;
        text-align: justify;
        margin: 0.5em;
    }
   
}

@media screen and (min-width:1025px) {

body{
    margin: 0%;
}

.container__flex--displayMenu{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas: 
    "header header"
    "nav main"
    "footer footer";
    grid-template-rows: 4em auto auto;  
    grid-template-columns: 30em auto;
    margin: 0;
    box-sizing: border-box;
}
    
/*Class-CSS pour faire disparaitre le menu lorsque l'on clique sur le bouton menu*/
.container__flex--displayMenuNone{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
    grid-template-rows: 4em 1fr auto;  
    grid-template-columns: auto;
    margin: 0;
    box-sizing: border-box;
}

.nav__open{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: nav;
    height: auto;
    background-color:#FFC300 ;
    margin: 0.1em 1.1em ;
    border-radius: 5px;
    box-sizing: border-box;
}
    
main{
    grid-area: main;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
}

.photo{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 90px;
}

p{  
    font-size: 1em;
    font-weight: 500;
    text-align: justify;
    margin: 0.5em;
}

nav ul{
    font-size: 1.5em;
    list-style: none;
    text-align: center;
    padding: 0;
}
    
nav ul li {
    font-family: 'Metrophobic';
    font-weight: bold;
    margin: 0.25em;
}

.icone{
    width: 80px;
    height: 80px; 
}

.main__flex--button-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 90px;      
}

    /*Mise en forme des titres, paragraphe, etc*/
h1{
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    text-align: center;
}

h2{ 
    font-family: 'Metrophobic';
    font-size: 2em;
    text-align: center;
}

h3{ 
    font-family: 'Cabin Sketch', cursive;
    font-size: 2.5em;
    text-align: center;
}

p{  
    font-size: 1.5em;
    font-weight: 500;
    text-align: justify;
    margin: 0.5em;
}

.bold{
    font-family: 'Metrophobic';
    font-size: 1.5em;
    text-align: justify;
    margin: 0.5em;
}

/*Effets sur le texte*/

#elt1 .typewriter h3 {
    width: 30%;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    animation: 
      typing 2s steps(11),
      blink-caret .75s step-end infinite;
  }

#elt2 .typewriter h3 {
    width: 40%;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    animation: 
      typing 2s steps(11),
      blink-caret .75s step-end infinite;
  }

#elt3 .typewriter h3 {
    width: 40%;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    animation: 
      typing 2s steps(11),
      blink-caret .75s step-end infinite;
  }

#elt4 .typewriter h3 {
    width: 40%;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    animation: 
      typing 2s steps(11),
      blink-caret .75s step-end infinite;
  }

#elt5 .typewriter h3 {
    width: 40%;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    animation: 
      typing 2s steps(11),
      blink-caret .75s step-end infinite;
  }

  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to {width: 30% }
  }
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

.main__ul{
    font-family: 'Metrophobic';
    list-style-type: circle;
    font-size: 1.5em;
}

    
   
}